* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(31, 31, 31);
}

.container {
    font-family: 'Poppins', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
}

.avatar {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 3px solid;
    border-color: mediumslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

