* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgb(31, 31, 31);
}

.container {
    margin: auto;
    width: 80%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.social {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

i {
    margin-right: 10px;
}

a {
    max-width: 450px;
    width: 100%;
    margin-top: 15px;
    border: 3px solid mediumslateblue;
    color: mediumslateblue;
    padding: 15px;
    border-radius: 7px;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    transform: scale(0.9);
    transition: ease 0.3s;
}

a:hover {
    border: 3px solid white;
    color: white;
    transform: scale(1);
}

.contactMe {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20vh;
    margin-bottom: 10px;
}

#email, #emailIcon {
    margin: 0px;
    padding: 0px;
    border: none;
    color: white;
    transform: scale(0.9);
    transition: ease 0.3s;
}

#emailIcon:hover {
    transform: scale(1);
}

.summary {
    margin-top: 25px;
    font-size: 15px;
}

h3 {
    opacity: 0.9;
    margin-top: 15px;
    margin-bottom: 10px;
}

.intro {
    opacity: 0.9;
    margin-top: 5px;
}

.avatar {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 3px solid;
    border-color: mediumslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

h1 {
    font-family: 'Nunito', sans-serif;
}