@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  body {
    @apply w-screen h-screen overflow-hidden flex items-center justify-center bg-neutral-100 md:bg-neutral-200 dark:bg-neutral-800;

  }
}